.carousel{
	padding: 81px 0;
	&__inner{
		position: relative;
		width: 750px;
		margin: 0 auto; 
		.slick-prev, .slick-next{
			z-index: 1;
			position: absolute;
			top: 40%;
			border: none;
			background-color: #ffffff;
			text-decoration: none;
			
			span{
				font-size: 50px;
				color: #c70101;
			}
		}
		.slick-prev{
			left: -66px;
		}
		.slick-next{
			right: -66px;
			left: auto;
			margin-left: 36px;
		}
	}

	
}