.overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba($color: #000000, $alpha: 0.56);
	top: 0;
	z-index: 2;
	display: none;
}

.modal{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 380px;
	padding: 0 37px 40px 37px;
	min-height: 400px;
	background-color: #f2f2f2;

	text-align: center;

	&__close{
		position: absolute;
		right: 0;
		transform: translateX(100%);
		width: 21px;
		height: 21px;
		font-size: 45px;
		line-height: 21px;
		color: #c70101;
		cursor: pointer;
	}

	&__title{
		margin-top: 38px;
		color: #0d0d0d;
		font-size: 19px;
		font-weight: 700;
	}

	&__subtitle{
		color: #0d0d0d;
		font-size: 14px;
		font-weight: 500;
	}
	&_mini{
		min-height: 140px;
	}
	input.error{
		border: 1px solid #c70101;
		margin: 0;
	}
	label.error{
		border: none;
		font-size: 14px;
		margin-bottom: 15px;
	}
}

.feed-form-mt25{
	margin: 0 auto;
	margin-top: 25px;
}


#order, #consultation,#message{
	display: none;
}