.promo{
	min-height: 650px;
	padding: 24px 0 93px 0;
	background: url('../../img/bg1.jpg') center (center / cover) no-repeat;

	&__wrapper{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		margin-top: 90px;
	}

	&__header{
		color: #ffffff;
		font-size: 42px;
		font-weight: 500;
		text-transform: uppercase;
		line-height: 42px;
	}

	&__subheader{
		margin: 17px 0 0 0;
		color: #ffffff;
		font-size: 24px;
		line-height: 24px;
		font-weight: 400;
		text-transform: uppercase;
	}

	&__icons{
		width: 424px;
		height: 110px;
		margin-top: 67px;
		display: flex;
		justify-content: space-between;
	}

	&__icon{
		width: 106px;
		display: flex;
		flex-direction: column;
		text-align: center;

		color: #ffffff;
		font-size: 14px;
		font-weight: 400;

		img{
			width: 45px;
			height: auto;
			margin: 0 auto 20px auto;
		}

	}

	&__link{
		color: #ffffff;
		font-size: 16px;
		font-weight: 400;
		a {
			color: #ffffff;
			text-decoration: underline;    
		}
			
	}
}